<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules" ToolsVersion="16.0">

	<Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
		<Rule Id="S3267" Action="None" />
	</Rules>

	<Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
		<Rule Id="SA1000" Action="None" />
		<Rule Id="SA1101" Action="None" />
		<Rule Id="SA1200" Action="None" />
		<Rule Id="SA1201" Action="None" />
		<Rule Id="SA1204" Action="None" />
		<Rule Id="SA1309" Action="None" />
		<Rule Id="SA1600" Action="None" />
		<Rule Id="SA1601" Action="None" />
		<Rule Id="SA1602" Action="None" />
		<Rule Id="SA1611" Action="None" />
		<Rule Id="SA1615" Action="None" />
		<Rule Id="SA1618" Action="None" />
		<Rule Id="SA1619" Action="None" />
		<Rule Id="SA1633" Action="None" />

		<Rule Id="SX1101" Action="Warning" />
		<Rule Id="SX1309" Action="Warning" />
	</Rules>

</RuleSet>
